body{
  font-family: 'Helvetica';
}

.container {
  margin: 20px auto;
  padding: 1em 1em 1em 1em;
  width: 75%;
  -webkit-box-shadow:   3px -3px 18px 1px rgba(0,0,0,0.75);
  -moz-box-shadow:      3px -3px 18px 1px rgba(0,0,0,0.75);
  box-shadow:           3px -3px 18px 1px rgba(0,0,0,0.75);
}

th {
  text-align: left;
}

.a_beecha_ball{
  display: block;
  margin: 2em auto;
}

.each_tweet{
  line-height: 1.3em;
  font-size: .9em;
}

header img{
  height: 1em;
  margin-bottom: -.2em;
  padding: 0;
}

.flizzard_brand{
  font-size: 1.4em;
}

header{
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin: .3em auto;
  width: 75%;
}

header a{
  text-decoration: none;
  color: black;
}

.entered_username{
  margin-left: 3%;
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 1.1em/100% Verdana, Tahoma, sans-serif;
}
.footer_image{
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
}
.header_low_border{
  border-bottom: #227AAB .4em solid;
}
.flizzard_tweets{
  margin-top: 0.3em;
  display: inline-block;
  float: right;
}

h1{
  text-align: center;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border-bottom: #24A5F5 .07em solid;
}

h3{
  color: #24A5F5;
  margin-bottom: 10px;
}
