%h1 Tweets for #{@user.username}
-@tweets.each do |tweet|
  %li.each_tweet #{tweet.content}
%br
%h3 Send A message to FlizzardNation
%form.flizzard_form
  %textarea.text_to_tweet{type: "text", name: "flizzard_tweet_input", rows: "3", cols: "60"}
  %input#tweet_enter_button{type: "submit", name: "to_to_flizzy", value: "submit"}

