%h1=Tweets for @user.username
%ul
  -@tweets.each do |tweet|
  %li.each_tweet=tweet.content
  -end


/ <ul>
/   <% @tweets.each do |tweet| %>
/     <li class="each_tweet"><%= tweet.content %></li>
/   <% end %>
/ </ul>

