
  <div class="whole_thing">
  <h1>Let's see what's happening on Twitter!</h1>

  <h3>Enter a twitter username:</h3>

  <form class="twitter_username" method="GET" action="/">
    <input type="text" name="twitter_username" class="entered_username" placeholder="twitter username here">
    <input type="submit" value="Get Flizzy">
  </form>
  <img src="http://localhost:9393/ajax-loader.gif" class="a_beecha_ball">
</div>
