<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>

  <title>Flizzard Tweeter</title>
</head>
<body>
  <header>
    <span class="flizzard_brand"><a href="http://localhost:9393/"><img src="http://localhost:9393/sprocket.png">Flizzard Nation</a></span>
    <span class="flizzard_tweets"><a href="http://localhost:9393/flizzardnation">Stay on Top of Fucked up Fridays</a>
    </span>
  </header>
  <div class="header_low_border"></div>
  <div class="container">
  <%= yield %>
  </div>
  <img src="http://localhost:9393/skyline.png" class="footer_image">
</body>
</html>
